/* *{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url(Fonts/Poppins-Regular.ttf);
}
.navbar{
    position: sticky;
    top: 0;
    background-color: #ffffff;
}
.gdsc-logo img{
    height: 35px;
    width: 286.46px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 4rem;
}
nav ul {
    display: flex;
    list-style: none;
}
nav li {
    padding-left: 1rem;
    color: #6C6C6C;
    font-size: 16px;
    font-family: 'Poppins-Regular';
    font-weight: 400;
}
ul a{
    text-decoration: none;
    color: #6C6C6C;
    padding-right: 2rem;
}
ul a:hover{
    font-weight: 600;
    color: #42b883;
    cursor: pointer;
}
@media only screen and (max-width: 600px){
    nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        padding-top: 0.5rem;
    }
    nav li {
        padding: 0.5rem 0;
    }
} 
.block1{
    width: 95%; 
    height: 60%;  
    margin-top: 4.5%;
    margin-left: 3%;
    position: absolute; 
}

.b1text{
    width: 45%; 
    height: 50%;  
    margin-top: 10%;
    margin-left:3%;
    position: absolute; 
}

.b1img{
    width: 50%; 
    height: 60%;  
    margin-top: 3%;
    margin-left:55%;
    position: absolute; 
}

.block2head{
    width: 25%; 
    height: 8%; 
    margin-left:10%;
    margin-top: 38%;
    position: absolute; 
    background:#0000ff; 
    border-radius: 2px; 
    border: 1px black solid;
}
.block2headtext{
    text-align: center; 
    color: white; 
    font-size: 18px;
    font-family: Poppins; 
    margin-top: 1%;
}

.block2{
    width: 93%; 
    height: 60%;  
    margin-top: 40%;
    margin-left: 4%;
    position: absolute;  
    border-radius: 20px; 
    border: 3px #0000ff solid;
}

.b2text{
    width: 60%; 
    height: 50%;  
    margin-top: 8%;
    margin-left: 4%;
    position: absolute;  
}

.b2img{
    width: 35%; 
    height: 100%;  
    margin-left: 65%;
    position: absolute;  
}

.img1b2{
    margin-left: 4%;
    height: 90%;
    width: 90%;
}

.img1b3{
    margin-left: 4%;
    height: 90%;
    width: 90%;
}

.block3head{
    width: 20%; 
    height: 8%; 
    margin-left:70%;
    margin-top: 78%;
    position: absolute; 
    background: #f3c317; 
    border-radius: 2px; 
    border: 1px black solid;
}
.block3headtext{
    text-align: center; 
    color: white; 
    font-size: 18px;
    font-family: Poppins; 
    margin-top: 1%;
}

.block3{
    width: 93%; 
    height: 60%;  
    margin-top: 80%;
    margin-left: 4%;
    position: absolute;  
    border-radius: 20px; 
    border: 3px #f3c317 solid;
}

.b3text{
    width: 60%; 
    height: 100%;  
    position: absolute;  
}

.b3img{
    text-align: center;
    width: 35%; 
    height: 50%;  
    margin-top: 10%;
    margin-left: 62%;
    position: absolute;  
}

.block4head{
    width: 25%; 
    height: 8%; 
    margin-left:10%;
    margin-top: 118%;
    position: absolute; 
    background: #ff0000; 
    border-radius: 2px; 
    border: 1px black solid;
}
.block4headtext{
    text-align: center; 
    color: white; 
    font-size: 18px;
    font-family: Poppins; 
    margin-top: 1%;
}

.block4{
    width: 93%; 
    height: 60%;  
    margin-top: 120%;
    margin-left: 4%;
    position: absolute;  
    border-radius: 20px; 
    border: 3px #ff0000 solid;
}

.img1b5{
    margin-top: 4%;
    margin-left: 35%;
    height: 50%;
    width: 30%;
}

.txt1b5{
    text-align: center;
}

.block5head{
    width: 25%; 
    height: 8%; 
    margin-left:38%;
    margin-top: 158%;
    position: absolute; 
    background: #0F9D58; 
    border-radius: 2px; 
    border: 1px black solid;
}
.block5headtext{
    text-align: center; 
    color: white; 
    font-size: 18px;
    font-family: Poppins; 
    margin-top: 1%;
}

.block5{
    width: 93%; 
    height: 70%;  
    margin-top: 160%;
    margin-left: 4%;
    position: absolute;  
    border-radius: 20px; 
    border: 3px #0F9D58 solid;
}

.block6{
    width: 100%; 
    height: 10%;  
    margin-top: 200%;
    text-align: center;
    position: absolute;
}

.img1{
    
    width:20%;
    height: 70%;
    background-color:#cacaca ;
    margin-left: 4%;
    margin-top: 4%;
}
.img2{
    width:20%;
    height: 70%;
    background-color:#cacaca ;
    margin-left: 4%;
    margin-top: 4%;
}
.img3{
    width:20%;
    height: 70%;
    background-color:#cacaca ;
    margin-left: 4%;
    margin-top: 4%;
}
.img4{
    width:20%;
    height: 70%;
    background-color:#cacaca ;
    margin-left: 4%;
    margin-top: 4%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  } */